<!-- wp:template-part {"slug":"header","theme":"manifold","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"100px","bottom":"100px"},"blockGap":"0"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<main
  class="wp-block-group has-white-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-right: var(--wp--preset--spacing--40);
    padding-bottom: 100px;
    padding-left: var(--wp--preset--spacing--40);
  "
>
  <!-- wp:pattern {"slug":"manifold/404-pagenotfound"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"manifold","area":"footer"} /-->
