<!-- wp:template-part {"slug":"header","theme":"manifold","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"var:preset|spacing|40"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<main
  class="wp-block-group has-white-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"99px","bottom":"99px"},"blockGap":"0px"}},"layout":{"type":"constrained","wideSize":"1180px"}} -->
  <div
    class="wp-block-group"
    style="
      padding-top: 100px;
      padding-right: var(--wp--preset--spacing--40);
      padding-bottom: 100px;
      padding-left: var(--wp--preset--spacing--40);
    "
  >
    <!-- wp:query {"queryId":11,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
      <!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0"}},"border":{"radius":"20px"}},"layout":{"type":"constrained","wideSize":"370px"}} -->
      <div
        class="wp-block-group"
        style="border-radius: 20px; padding-top: 0; padding-bottom: 0"
      >
        <!-- wp:post-featured-image {"isLink":true,"width":"370px","height":"250px","style":{"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"0px","bottomRight":"0px"}}},"className":"manifold-arc-blog-img"} /-->

        <!-- wp:group {"style":{"spacing":{"blockGap":"30px","padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":{"bottomLeft":"10px","bottomRight":"10px"}}},"backgroundColor":"Light","layout":{"type":"constrained","wideSize":"370px"}} -->
        <div
          class="wp-block-group has-light-background-color has-background"
          style="
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-top: var(--wp--preset--spacing--40);
            padding-right: var(--wp--preset--spacing--40);
            padding-bottom: var(--wp--preset--spacing--40);
            padding-left: var(--wp--preset--spacing--40);
          "
        >
          <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
          <div class="wp-block-group">
            <!-- wp:post-author-name {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","className":"manifold-text-decoration-none"} /-->

            <!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground"} /-->
          </div>
          <!-- /wp:group -->

          <!-- wp:post-title {"level":3,"isLink":true,"style":{"spacing":{"padding":{"top":"10px","bottom":"10px"}},"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","className":"manifold-text-decoration-none"} /-->

          <!-- wp:post-excerpt {"excerptLength":15} /-->

          <!-- wp:read-more {"content":"Read Blog","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
      <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"manifold","area":"footer"} /-->
