<!-- wp:template-part {"slug":"header","theme":"manifold","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"100px","bottom":"100px"}}},"backgroundColor":"white","layout":{"type":"constrained","contentSize":"760px"}} -->
<main
  class="wp-block-group has-white-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-right: var(--wp--preset--spacing--40);
    padding-bottom: 100px;
    padding-left: var(--wp--preset--spacing--40);
  "
>
  <!-- wp:query {"queryId":26,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
  <div class="wp-block-query">
    <!-- wp:post-template {"style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:post-featured-image {"isLink":true,"width":"300px","height":"200px","align":"center"} /-->

      <!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","className":"manifold-text-decoration-none"} /-->

      <!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
      <div class="wp-block-group">
        <!-- wp:post-date /-->

        <!-- wp:post-author-name /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:post-excerpt {"textAlign":"center","moreText":"Learn More","excerptLength":15,"style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"}}}},"textColor":"grey","className":"manifold-text-decoration-none"} /-->
    </div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination {"paginationArrow":"chevron","showLabel":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","layout":{"type":"flex","justifyContent":"center","flexWrap":"nowrap"},"fontSize":"xxx-large","fontFamily":"syne"} -->
    <!-- wp:query-pagination-previous /-->

    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"manifold","area":"footer"} /-->
