<!-- wp:template-part {"slug":"header","theme":"manifold","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"100px","bottom":"100px","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main
  class="wp-block-group"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-right: var(--wp--preset--spacing--40);
    padding-bottom: 100px;
    padding-left: var(--wp--preset--spacing--40);
  "
>
  <!-- wp:group {"layout":{"type":"constrained","wideSize":"1180px"}} -->
  <div class="wp-block-group"><!-- wp:post-content /--></div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"manifold","area":"footer"} /-->