<!-- wp:template-part {"slug":"header","theme":"manifold","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"100px","bottom":"100px","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<main
  class="wp-block-group has-white-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-right: var(--wp--preset--spacing--40);
    padding-bottom: 100px;
    padding-left: var(--wp--preset--spacing--40);
  "
>
  <!-- wp:group {"layout":{"type":"constrained","wideSize":"1180px"}} -->
  <div class="wp-block-group">
    <!-- wp:search {"label":"Search","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"fontFamily":"plus-vietnam-pro"} /-->

    <!-- wp:query-title {"type":"search","level":3} /-->

    <!-- wp:query {"queryId":56,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"grid","columnCount":3}} -->
      <!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
      <div
        class="wp-block-group"
        style="
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 0;
          padding-left: 0;
        "
      >
        <!-- wp:post-featured-image {"isLink":true} /-->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","right":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"Light","layout":{"inherit":false}} -->
        <div
          class="wp-block-group has-light-background-color has-background"
          style="
            margin-top: 0;
            margin-bottom: 0;
            padding-top: var(--wp--preset--spacing--40);
            padding-right: var(--wp--preset--spacing--40);
            padding-bottom: var(--wp--preset--spacing--40);
            padding-left: var(--wp--preset--spacing--40);
          "
        >
          <!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","className":"manifold-text-decoration-none"} /-->

          <!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground"} /-->

          <!-- wp:post-excerpt {"moreText":"","showMoreOnNewLine":false,"excerptLength":15,"className":"manifold-text-decoration-none"} /-->

          <!-- wp:read-more {"content":"Read More","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
      <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"manifold","area":"footer"} /-->
