.manifold-admin-notice {
    background-color: #f6fffd;
    padding: 1em;
  }
  .manifold-admin-notice > .info-content > .admin-btn > a {
    outline: none;
    border: none;
    color: white;
    padding: 1em;
    margin: 0 1em;
  }
  .admin-btn {
    display: flex;
    align-items: center;
  }
  .manifold-admin-notice > .info-content > .admin-btn > .info-button {
    background: #02c392;
  }
  .manifold-admin-notice > .info-content > .admin-btn > .dismiss-notice {
    background: rgb(247, 85, 85);
  }
  .manifold-admin-notice {
    padding: 30px;
    border-color: #2271b1;
  }
  .manifold-admin-notice .info-content h5 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    color: #2271b1;
  }
  .manifold-admin-notice .info-content h1 {
    font-size: 24px;
  }
  .manifold-admin-notice #install-activate-button {
    background-color: #2271b1;
    color: #fff;
  }
  .manifold-admin-notice #install-activate-button:hover,
  .manifold-admin-notice .button.admin-button.info-button:hover {
    background: #135e96;
    border-color: #135e96;
    color: #fff;
  }
  .manifold-admin-notice .button.admin-button.info-button {
    background: #2271b1;
    color: #ffffff;
  }
  .manifold-admin-notice .admin-button.dismiss-notice.btn-notice-dismiss {
    color: #a4a4a7;
    display: inline-block;
    margin: 5px;
  }
  .manifold-admin-notice .admin-button.dismiss-notice.btn-notice-dismiss:hover {
    color: #d63638;
  }
  .manifold-admin-notice .notice-text {
    display: inline-block;
    width: 100%;
    margin: 0 0 15px;
  }
  .dashboard-about-manifold {
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
    width: 98.5%;
    margin: 20px 0 0 0;
  }
  .dashboard-about-manifold .half-col {
    width: 50%;
    display: inline-block;
  }
  
  .dashboard-about-manifold .featured-list {
    display: flex;
    grid-gap: 30px;
  }
  .dashboard-about-manifold .half-col ul ul {
    margin: 10px 0 20px;
    padding: 0 0 0 30px;
  }
  .dashboard-about-manifold .half-col ul ul li,
  .dashboard-about-manifold .half-col.pro-features li {
    position: relative;
  }
  .dashboard-about-manifold .half-col ul ul li:before,
  .dashboard-about-manifold .half-col.pro-features li:before {
    content: "\2713";
    background: #bdbfc2;
    width: 13px;
    height: 13px;
    position: absolute;
    left: -20px;
    top: 2px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
  }
  .dashboard-about-manifold .half-col.pro-features li {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
  }
  .dashboard-about-manifold .half-col.pro-features li:before {
    background: #04cf9c;
  }
  .dashboard-about-manifold .half-col.pro-features ul {
    margin: 0;
    padding: 0 0 0 18px;
  }
  
  .dashboard-about-manifold .upgrade-btn.button {
    text-transform: uppercase;
    background: #4a46f3;
    border-color: #4a46f3;
    color: #fff;
    display: inline-block;
    margin-top: 21px;
  }
  .dashboard-about-manifold .upgrade-btn.button:hover {
    background: #f39446;
    border-color: #f39446;
  }
  .manifold-admin-notice .info-content h3,
  .dashboard-about-manifold h3,
  .manifold-admin-notice .info-content .manifold-required-plugin li h4,
  .dashboard-about-manifold .manifold-required-plugin li h4 {
    margin: 0;
  }
  
  .manifold-admin-notice .info-content .manifold-required-plugin li,
  .dashboard-about-manifold .manifold-required-plugin li {
    margin: 5px 0;
  }
  .manifold-admin-notice .info-content .manifold-required-plugin,
  .dashboard-about-manifold .manifold-required-plugin {
    margin: 10px 0 25px;
  }
  .dashboard-about-manifold .manifold-baisc-guideline {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
  }
  .dashboard-about-manifold .manifold-baisc-guideline .featured-box {
    padding: 5px 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    width: 49%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .dashboard-about-manifold h3.manifold-baisc-guideline-header {
    width: 100%;
    display: inline-block;
    margin: 20px 0 0;
  }
  .dashboard-about-manifold
    .manifold-baisc-guideline
    .featured-box:nth-child(2n + 2) {
    margin-left: 2%;
  }
  .dashboard-about-manifold .manifold-baisc-guideline .featured-box li strong {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .dashboard-about-manifold h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  